
.grid-display {
  display: grid;
  grid-template-columns: 67% 30%;
  grid-gap: 1em;
}

#myVideo {
  height: 100%;
  width: 100%;
}


.grid-cards-videos {
  display: grid;
  grid-template-columns: 50% 50%;
}

.title-card-video {
  font-size: 15px;
  margin-left: 10px;
}

.horchata-tube {
  font-size: 30px;
  display: inline-block;
  margin-top: 12px;
}
